<header>
    <div id="login_menu">
       <a routerLink="/login" routerLinkActive="active">login</a>
       <a routerLink="/register" routerLinkActive="active">register</a>
    </div>

    <div id="logo">
        <a routerLink="/" routerLinkActive="active"><img src="../../assets/images/logod2challenge.png" alt="fireCamp" class="logo"></a>
    </div>
    <div id="top_menu">

        <div class="btnNav">
            <a routerLink="/" routerLinkActive="active"><img src="../../assets/images/profileoff.jpg" alt="login" class="connectBtn">
            <img src="../../assets/images/profileon.jpg" alt="login" class="img-top connectBtn"></a>
        </div>

        <div class="btnNav">
            <a routerLink="/holygrail/total" routerLinkActive="active"><img src="../../assets/images/holyGrailoff.jpg" alt="login" class="connectBtn">
            <img src="../../assets/images/holyGrailon.jpg" alt="login" class="img-top connectBtn"></a>
        </div>

        <div class="btnNav">
            <a routerLink="/" routerLinkActive="active"><img src="../../assets/images/clansoff.jpg" alt="login" class="connectBtn">
            <img src="../../assets/images/clanson.jpg" alt="login" class="img-top connectBtn"></a>
        </div>

    </div>        
</header>