<app-menu-items></app-menu-items>

<!-- id a revoir class a finir obtain a implementer et propreties -->
<div id="unique_content">
        
        <div *ngFor="let item of listUniqueItems" id="{{item.name?.toLowerCase()}}" class="objet" (click)="obtain('')">                   
            <div class="tooltip">
                <img src="/assets/images/{{item.kind}}/{{item.image}}.png" class="obj_image">
                <span class="obj_name">{{item.name}}</span>
                <span class="obj_value">{{item.value?.charAt(0)?.toUpperCase()}}{{item.value?.slice(1)}} Unique</span>
                <span class="obj_type">{{item.type}}</span>
                <span class="obj_date">date</span>
                <span class="tooltiptext">{{item.properties}}</span>
            </div>
        </div>  
</div>