<app-menu-items></app-menu-items>

<div id="unique_content">
        
        <div *ngFor="let item of listUniqueItems" id="{{item.name?.toLowerCase()}}" class="objet">                   
            <div class="tooltip">
                <img src="/assets/images/{{item.kind}}/{{item.image}}.png" class="obj_image">
                <span class="obj_name">{{item.name}}</span>
                <span class="obj_value">{{item.value?.charAt(0)?.toUpperCase()}}{{item.value?.slice(1)}} Unique</span>
                <span class="obj_type">{{item.type}}</span>
                <span *ngIf="item.dateOwned != null" class="obj_date">date</span>
                
                <!-- Proprietes -->
                <div class="tooltiptext">
                    <h3>{{item.name}}</h3>
                    <p *ngFor="let propretie of item.propertiesList" [ngClass]="getColorPropertie(propretie)">{{propretie}}</p>
                </div>
            </div>
        </div>  
</div>