<div id="menu_holy">
    <ul>
        <a href="/holygrail/total"><li>Total</li></a>
        <a href="/holygrail/u_armors"><li>Uniques Armors</li></a>
        <a href="/holygrail/u_weapons"><li>Uniques Weapons</li></a>
        <a href="/holygrail/u_others"><li>Uniques Others</li></a>
        <a href="/holygrail/set"><li>Set</li></a>
        <a href="/holygrail/runewords"><li>Runewords</li></a>
    </ul>

    <div style="margin: auto; margin-top: 15px;">
        <img src="../../assets/images/nav-under.png" alt="nav_under">
    </div>
</div>