<div id="section_content">
    <div id="left_section">
        <img src="../assets/images/d2R.jpg" alt="diablo" id="d2r">
    </div>
    <div id="right_section">
        <h2>Stay awhile and listen</h2>
        <ul>
            <li><img src="../assets/images/bullet.png" class="bulletImg"><span>collect all diablo 2 items (holy grail)</span></li>
            <li><img src="../assets/images/bullet.png" class="bulletImg"><span>save your season progression</span></li>
            <li><img src="../assets/images/bullet.png" class="bulletImg"><span>create clans and make friends</span></li>
            <li><img src="../assets/images/bullet.png" class="bulletImg"><span>challenge other heroes of sanctuary</span></li>
        </ul>
    </div>
</div> 